<%= form_for([@account, @internal_transfer]) do |f| %>
  <% if internal_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(internal_transfer.errors.count, "error") %> prohibited this internal_transfer from being saved:</h2>

      <ul>
      <% internal_transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>

    <tr>
      <div class="field">
	<td>
	  <%= f.label "Destination Account Number" %>
	</td>
	<td>
	  <%= f.number_field :destinationAcctNumber %>
	</td>
      </div>
    </tr>

    <tr>
      <div class="field">
	<td>
	  <%= label_tag :myAccountNumber, "My Accounts" %>
	</td>
	<td>
	  <%= f.select(:destinationAcctNumber, @my_other_accounts.map {|acct| [acct.id,acct.id]}, :prompt => "Select an Account") %>
	</td>
      </div>
    </tr>

    <tr>
      <div class="field">
	<td>
	  <%= f.label :amount %>
	</td>
	<td>
	  <%= f.text_field :amount %>
	</td>
      </div>
    </tr>

    <tr>
      <td>
	<div class="actions">
	  <%= f.submit %>
	</div>
      </td>
    </tr>
  </table>
<% end %>
