<%= form_for([@account, @internal_transfer]) do |f| %>
  <% if internal_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(internal_transfer.errors.count, "error") %> prohibited this internal_transfer from being saved:</h2>

      <ul>
      <% internal_transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="small">Transferring from Account Number:&nbsp<u><%= @account.id %></u>
  <div class="field">
    <b>Choose one:</b><br />
    <input type="radio" name="internalTransferType" value="internalTransferType_1">One of my accounts<br />
    <input type="radio" name="internalTransferType" value="internalTransferType_2">A different HFB account<br />
  </div>

  <div id="internalTransferType_1">
    <%= label_tag :myAccountNumber, "My Accounts" %>
    <%= f.select(:myAccountNumber, @my_other_accounts.map {|acct| [acct.id,acct.id]}, :prompt => "Select an Account") %>
  </div>
  <div id="internalTransferType_2">
    <%= f.label "Destination Account Number" %>
    <%= f.number_field :destinationAcctNumber %>
  </div>


  <div class="field">
    <br />
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="actions">
    <br />
    <%= f.submit class: 'btn btn-default' %>
    <a class="btn btn-default" href="<%= account_path(@account) %>">Back to Account</a>
  </div>
<% end %>
