<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="jumbotron">
<div class="container">
  <div class="page-header">
    <h1>Hidden Fees Bank</h1>
    <!-- Devise alerts -->
    <div id="user_nav">
      <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>
  <div class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
	<li><a href="<%= user_path(current_user) %>">Home</a></li>
	<li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts
	  <span class="caret"></span></a>
	  <ul class="dropdown-menu">
	    <% @accounts.each do |acct| %>
	      <li><a href="<%= account_path(acct) %>", data-turbolinks="false"><%= acct.accountName ? acct.accountName : acct.id %></a></li>
	    <% end %>
	  </ul>
	</li>
	<li><a href="#">About Us</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-sm-12">
      <div class="table-responsive">
	<table class="table table-hover table-bordered">
	  <thead>
	    <tr>
	      <th>Account Number/Name</th>
	      <th>Type</th>
	      <th>Balance</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @accounts.each do |acct| %>
	      <tr>
	      <td><a href="<%= account_path(acct) %>", data-turbolinks="false"><%= acct.accountName ? acct.accountName : acct.id %></a></td>
		<% if acct.acctType == 1 %>
		  <td>Savings</td>
		<% else %>
		  <td>Checking</td>
		<% end %>
		<td><%= number_to_currency(acct.balance)%></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-sm-12">
      <p class="lead">Here you have access to all of the accounts you have been verified to use. Choose an account to view transaction history, create/view Automatic Bill-Payments, create/view SMS Alerts, and Transfer funds.</p>
    </div>
  </div>
</div>
