<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="jumbotron">
<div class="container">
  <div class="page-header">
    <h1>Hidden Fees Bank</h1>
    <!-- Devise alerts -->
    <div id="user_nav">
      <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>
  <div class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
	<li><a href="<%= user_path(current_user) %>">Home</a></li>
	<li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts
	  <span class="caret"></span></a>
	  <ul class="dropdown-menu">
	    <% @accounts.each do |acct| %>
	      <li><a href="<%= account_path(acct) %>"><%= acct.id %></a></li>
	    <% end %>
	  </ul>
	</li>
	<li><a href="#">Auto Bill Payments</a></li>
	<li><a href="#">SMS</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-1 col-sm-12 col-sm-12 links">
      <ul class="nav nav-stacked">
	<li role="presentation" class="shift"><a href="<%= account_auto_bill_payments_path(@account.id) %>">View Auto Payments</a></li>
	<li role="presentation" class="shift"><a href="<%= new_account_auto_bill_payment_url(:account_id => @account.id) %>">Create Auto Payment</a></li>  
	<li role="presentation" class="shift"><a href="<%= transfers_path(:account_id => @account.id, :current_user => current_user) %>">Transfer Funds</a></li>
	<li role="presentation" class="shift"><a href="#">View SMS Alerts</a></li>
	<li role="presentation" class="shift"><a href="#">Create SMS Alert</a></li>  
      </ul>
    </div>
    <div class="col-lg-10 col-md-11 col-sm-12 col-sm-12">
      <h2>Recent Account Activity</h2>
      <div class="table-responsive">
	<div class="table">
	  <tr>
	    <th>
	      <strong>Acctnumber:</strong>
	      <%= @account.id%>
	      <% if @account.accountName == nil %>
		<%= link_to 'Add account alias', edit_account_path(@account) %>
	      <% else %>
		<br/><strong>Account Name:</strong>&nbsp<u><%= @account.accountName %></u>&nbsp&nbsp<%= link_to 'Edit account alias', edit_account_path(@account) %>
	      <% end %>
	    </th><br/>
	    <th>
	      <strong>Balance:</strong>
	      <%= number_to_currency(@account.balance) %>
	    </th>
	    <th>
	      <br/><strong>Acount Type:</strong>
	      <% if @account.acctType == 1 %>
		Savings
	      <% else %>
		Checking
	      <% end %>
	    </th>
	  </tr>
      </div>
      <div class="table-responsive">
	<table class="table table-hover table-striped table-bordered smallTxt">
	  <tr>
	    <th>Date</th>
	    <th>Description</th>
	    <th>Debit</th>
	    <th>Credit</th>
	    <th>Balance</th>
	  </tr>
	  <% @transactions.each do |transaction| %>
	    <% if transaction.amount <= 0 %>
	      <tr>
		<td><%= transaction.created_at.to_s(:db) %></td>
		<td><%= transaction.description %></td>
		<td><%= number_to_currency transaction.amount %></td>
		<td></td>
		<td><%= number_to_currency transaction.currentBalance %></td>
	      </tr>
	    <% else %>
	      <tr>
		<td><%= transaction.created_at.to_s(:db) %></td>
		<td><%= transaction.description %></td>
		<td></td>
		<td><%= number_to_currency transaction.amount %></td>
		<td><%= number_to_currency transaction.currentBalance %></td>
	      </tr>
	    <% end %>
	  <% end %>
	</table>
      </div>
      <a class="btn btn-default" href="<%= account_transactions_path(:account_id => @account.id) %>">View All</a>
    </div>
  </div>
</div>
