<%= form_for([@account, @sms_alert]) do |f| %>
  <% if @sms_alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sms_alert.errors.count, "error") %> prohibited this sms_alert from being saved:</h2>

      <ul>
      <% @sms_alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Carrier:" %>
    <%= f.select :carrier, [["Alltel Wireless" , "alltel"], ["AT&T/Cingular" , "at&t"], ["Boost Mobile" , "boost"], ["Sprint Wireless" , "sprint"], ["T-Mobile US" , "t-mobile"], ["T-Mobile UK" , "t-mobile-uk"], ["Virgin Mobile" , "virgin"], ["Verizon Wireless" , "verizon"], ["Vodafone Tokyo" , "vodafone-jp-tokyo"]] %>
  </div>

  <div class="field">
    <u>Please use the format: 5555555555</u><br />
    <%= f.label :phone, 'Phone Number' %>
    <%= f.number_field :phone %>
  </div>

  <div class="field">
    <b>Choose an event type:</b><br />
    <input type="radio" name="sms_alert[alertType]" value="alertType_1">Triggered<br />
    <input type="radio" name="sms_alert[alertType]" value="alertType_2">Recurring
  </div>
  <div id="alertType_1">
    <div class="field">
      <%= f.label :trigger_criteria, "Trigger Criterea" %>
      <%= f.select :trigger_criteria, [["Less than", 1], ["Equal to", 2], ["Greater than", 3]] %>
    </div>
    <div class="field">
      <%= f.label :trigger_amount, "Trigger Amount:" %>
      <%= f.number_field :trigger_amount %>
    </div>
  </div>
  <div id="alertType_2">
    <div class="field">
      <%= f.label :frequency, "Frequency" %>
      <%= f.select :frequency, [["Daily", 1],["Weekly", 2],["Monthly",3]] %>
    </div>
  </div>

  <%= f.hidden_field :account_id, value: @account.id %>

  <div class="actions">
    <br />
      <%= f.submit class: 'btn btn-default' %>
      <a class="btn btn-default" href="<%= account_path(@account) %>">Back to Account</a>
  </div>
<% end %>
