<div class="jumbotron">
<div class="container">
  <div class="page-header">
    <h1>Hidden Fees Bank</h1>
    <!-- Devise alerts -->
    <div id="user_nav">
      <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>
  <div class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
	<li><a href="<%= root_path %>">Home</a></li>
	<li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts
	  <span class="caret"></span></a>
	  <ul class="dropdown-menu">
	    <% @accounts.each do |acct| %>
	      <li><a href="<%= account_path(acct) %>", data-turbolinks="false"><%= acct.accountName ? acct.accountName : acct.id %></a></li>
	    <% end %>
	  </ul>
	</li>
	<li><a href="#">Auto Bill Payments</a></li>
	<li><a href="#">SMS</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 col-sm-12 links">
      <ul class="nav nav-stacked">
	<li role="presentation" class="shift"><a href="<%= account_auto_bill_payments_path(@account.id) %>">View Auto Payments</a></li>
	<li role="presentation" class="shift"><a href="<%= new_account_auto_bill_payment_url(:account_id => @account.id) %>">Create Auto Payment</a></li>  
	<li role="presentation" class="shift"><a href="<%= transfers_path(:account_id => @account.id, :current_user => current_user) %>">Transfer Funds</a></li>
	<li role="presentation" class="shift"><a href="<%= account_sms_alerts_path(@account.id) %>">View SMS Alerts</a></li>
	<li role="presentation" class="shift"><a href="<%= new_account_sms_alert_path(@account.id) %>">Create SMS Alert</a></li>  
      </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div class="table-responsive">
	<table class="table table-hover table-striped table-bordered table-sm">
	  <tr>
	    <th>Carrier</th>
	    <th>Alert Type</th>
	    <th>Frequency</th>
	    <th>Next Alert</th>
	    <th>Trigger Criterea</th>
	    <th>Trigger Amount</th>
	    <th>Phone Number</th>
	  </tr>
	  <% @sms_alerts.each do |alert| %>
	    <% if !alert.new_record? %>
	      <tr>
		<td><%= alert.carrier %></td>
		<td><%= alert.alertType == 1 ? "Triggered" : "Recurring" %></td>
		<% if alert.frequency == nil %>
		  <td></td>
		<% elsif alert.frequency == 1 %>
		  <td>Daily</td>
		<% elsif alert.frequency == 2 %>
		  <td>Weekly</td>
		<% else %>
		  <td>Monthly</td>
		<% end %>
		<td><%= alert.next_alert != nil ? alert.next_alert.to_date : "" %></td>
		<% if alert.trigger_criteria == nil %>
		  <td></td>
		<% elsif alert.trigger_criteria == 1 %>
		  <td>Less Than</td>
		<% elsif alert.trigger_criteria == 2 %>
		  <td>Equal To</td>
		<% else %>
		  <td>Greater Than</td>
		<% end %>
		<td><%= alert.trigger_amount %></td>
		<td><%= alert.phone %></td>
		<td><%= link_to 'Edit', edit_account_sms_alert_path(alert, :account_id => @account.id) %></td>
		<td><%= link_to 'Delete', account_sms_alert_path(:id => alert.id), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
	      </tr>
	    <% end %>
	  <% end %>
	</table>
      </div>
    </div>
  </div>
</div>
