<%= form_for([@account, @outgoing_transfer]) do |f| %>
  <% if outgoing_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outgoing_transfer.errors.count, "error") %> prohibited this outgoing_transfer from being saved:</h2>

      <ul>
      <% outgoing_transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="small">Transferring from Account Number:&nbsp<u><%= @account.id %></u>
  <div class="field">
    <%= f.label :destinationAcctNumber, 'Destination Account Number' %>
    <%= f.number_field :destinationAcctNumber %>
  </div>

  <div class="field">
    <%= f.label :routingNumber, 'Routing Number' %>
    <%= f.number_field :routingNumber %>
  </div>

  <div class="field">
    <%= f.label :amount, 'Amount' %>
    <%= f.text_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
    <a class="btn btn-default" href="<%= account_path(@account) %>">Back to Account</a>
  </div>
<% end %>
