<%= form_for([@origin_acct, @auto_bill_payment]) do |f| %>
  <% if @auto_bill_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auto_bill_payment.errors.count, "error") %> prohibited this auto_bill_payment from being saved:</h2>

      <ul>
      <% @auto_bill_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Origin Account Number" %>
    <%= f.text_field :account_id, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label "Business Name"%>
    <%= f.select :businessName, @businesses.map {|value| [value,value] } %>
  </div>

  <div class="field">
    <%= f.label "Destination Account Number" %>
    <%= f.number_field :destinationAcctNumber %>
  </div>

  <div class="field">
    <%= f.label "Date to Start" %>
    <%= f.date_select :dateToPay, :order => [:month, :day, :year] %>
  </div>

  <div class="field">
    <%= f.label "Frequency of Payment" %>
    <%= f.select :frequency, [['Once','once'],['Daily','daily'],['Weekly','weekly'],['Monthly','monthly'],['Yearly']] %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
