<div class="jumbotron">
<div class="container">
  <div class="page-header">
    <h1>Hidden Fees Bank</h1>
    <!-- Devise alerts -->
    <div id="user_nav">
      <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>
  <div class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
	<li><a href="<%= user_path(current_user) %>">Home</a></li>
	<li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts
	  <span class="caret"></span></a>
	  <ul class="dropdown-menu">
	    <% @accounts.each do |acct| %>
	      <li><a href="<%= account_path(acct) %>", data-turbolinks="false"><%= acct.accountName ? acct.accountName : acct.id %></a></li>
	    <% end %>
	  </ul>
	</li>
	<li><a href="#">Auto Bill Payments</a></li>
	<li><a href="#">SMS</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 col-sm-12 links">
      <ul class="nav nav-stacked">
	<li role="presentation" class="shift"><a href="<%= account_auto_bill_payments_path(@origin_acct.id) %>">View Auto Payments</a></li>
	<li role="presentation" class="shift"><a href="<%= new_account_auto_bill_payment_url(:account_id => @origin_acct.id) %>">Create Auto Payment</a></li>  
	<li role="presentation" class="shift"><a href="<%= transfers_path(:account_id => @origin_acct.id, :current_user => current_user) %>">Transfer Funds</a></li>
	<li role="presentation" class="shift"><a href="<%= account_sms_alerts_path(@origin_acct) %>">View SMS Alerts</a></li>
	<li role="presentation" class="shift"><a href="<%= new_account_sms_alert_path(@origin_acct.id) %>">Create SMS Alert</a></li>  
      </ul>
    </div>
    <div class="col-lg-10 col-md-11 col-sm-12 col-sm-12">
      <h1>Auto Bill Payments</h1>

      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
	    <tr>
	      <th>Amount</th>
	      <th>Destination Acctnumber</th>
	      <th>Business Name</th>
	      <th>Next Date to pay</th>
	      <th>Frequency</th>
	      <th>Account</th>
	      <th colspan="3"></th>
	    </tr>

	    <% @auto_bill_payments.each do |auto_bill_payment| %>
	      <tr>
		<td><%= number_to_currency auto_bill_payment.amount %></td>
		<td><%= auto_bill_payment.destinationAcctNumber %></td>
		<td><%= auto_bill_payment.businessName %></td>
		<td><%= auto_bill_payment.dateToPay %></td>
		<td><%= auto_bill_payment.frequency %></td>
		<td><%= auto_bill_payment.account.id %></td>
		<td><%= link_to 'Edit', edit_auto_bill_payment_path(auto_bill_payment, :account_id => auto_bill_payment.account.id) %></td>
		<td><%= link_to 'Destroy', auto_bill_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	</table>
      </div>

      <a class="btn btn-default" href="<%= account_path(@origin_acct) %>">Back to Account</a>
    </div>
  </div>
</div>

